<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />

    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>

        <h:form>
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Tabeleczka</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a>Użytkownik: #{auth.username}</a></li>
                        <li><h:commandButton class="btn btn-danger navbar-btn" action="#{auth.logout}" value="Wyloguj"/></li>
                    </ul>
                </div>
            </nav>
        </h:form>
        <div class="alert alert-warning fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Zalogowano poprawnie</strong>
        </div>
        <h:form>
            <h:dataTable value="#{book.bookList}" var="o" class="table table-striped">
                <h:column>
                    <f:facet name="header">Book ISBN</f:facet>
                    <h:inputText value="#{o.bookIsbn}" rendered="#{o.editable}"/>
                    <h:outputText value="#{o.bookIsbn}" rendered="#{not o.editable}" />
                </h:column>

                <h:column>
                    <f:facet name="header">Title</f:facet>
                    <h:inputText value="#{o.title}" rendered="#{o.editable}"/>
                    <h:outputText value="#{o.title}" rendered="#{not o.editable}" />
                </h:column>

                <h:column>
                    <f:facet name="header">Price</f:facet>
                    <h:inputText value="#{o.price}" rendered="#{o.editable}"/>
                    <h:outputText value="#{o.price}" rendered="#{not o.editable}" />
                </h:column>

                <h:column>
                    <f:facet name="header">Quantity</f:facet>
                    <h:inputText value="#{o.qty}" rendered="#{o.editable}"/>
                    <h:outputText value="#{o.qty}" rendered="#{not o.editable}" />

                </h:column>

                <h:column>
                    <f:facet name="header">Action</f:facet>
                    <h:commandButton action="#{book.editAction(o)}" value="Edit" rendered="#{not o.editable}"/>
                    <h:commandButton action="#{book.deleteAction(o)}" value="Delete" />
                </h:column>
            </h:dataTable>
            <h:commandButton value="Save Changes" action="#{book.saveAction()}" />
            <h:commandButton value="Add" action="#{book.addAction()}" />
        </h:form>
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <p>Wersja aplikacji: #{app.version}, Buildzik: #{app.build}</p>
        </nav>
    </h:body>

    <script>
        $(document).ready(function() {
            $(".alert").click(function() {
                $(".alert").alert('close')
            })
        })
    </script>

</html>